@font-face {
  font-family: 'Merck';
  src: url('fonts/Merck.ttf');
}

body {
  margin: 0;
  padding: 0;
  line-height: 24px;
  background: #1B1B25;
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Merck', 'Montserrat', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.merck-news {
  background-color: #FFC832;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.merck-news img {
  width: 530px !important;
  /* animation: rotate 10s linear; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.news-title {
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  font-size: 36px;
  font-weight: 500;
  margin: 20px auto;
  width: 80%;
  line-height: 36px;
}

.news-image img {
  object-fit: contain;
  width: auto !important;
  height: calc(100vh - 400px);
  border-radius: 10px;
}

.news-description {
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  font-size: 18px;
  margin: 20px auto;
  width: 60%;
  line-height: 26px;
}


/* Carousel plugin css override */
.carousel .slide {
  margin: auto !important;
  background: none !important;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  background: url('../src/images/bg9.png') no-repeat;
  /* background: #FFC832; */
}

.carousel .slide.selected {
  /* background: #FFC832; */
}
